:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --blue-color: #2bc5cd;
    --orange-color: #ff693d;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Resto del CSS */
  
  
  .school {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
  }
  
  .student {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
  }
  
  .time {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
  }
  
  .alumni {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
  }
  
  .alumni,
  .school,
  .student,
  .time {
    background-size:cover;

  }

  body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px; 
  }

  header{
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--blue-color);
    color: var(--primary-color);
    text-align: justify;
  }

  header h1{
    text-transform: uppercase;
    text-align: center;
  }

  header > p {
    margin-block:225px;
    padding: 20px;

  }

  main{
    border: var(--border);
    text-transform: uppercase;
    color: var(--blue-color);
    text-align: center;
    align-content: center;
  }

  footer{
    background-color: var(--orange-color);
    grid-area: 3 / 2 / 3 / 4;
    padding: 25px;
    color: var(--primary-color);
  }

  footer button{
    background-color: var(--primary-color);
    border: none;
    padding: var(--spacing);
    text-transform: uppercase ;
    font-weight: 500;
  }



  /* Pantallas pequeñas de hasta 768px */
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }

  header {
    grid-area: 1 / 1 / 3 / 2;
  }

  .school {
    grid-area: 3 / 1 / 4 / 2;
  }

  .student {
    grid-area: 4 / 1 / 5 / 2;
  }

  main {
    grid-area: 5 / 1 / 6 / 2;
  }

  .time {
    grid-area: 6 / 1 / 7 / 2;
  }

  .alumni {
    grid-area: 7 / 1 / 8 / 2;
  }

  footer {
    grid-area: 8 / 1 / 9 / 2;
  }
}

/* Pantallas medianas de 769px hasta 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  header {
    grid-area: 1 / 1 / 2 / 3;
  }

  .school {
    grid-area: 2 / 1 / 3 / 2;
  }

  .student {
    grid-area: 2 / 2 / 3 / 3;
  }

  main {
    grid-area: 3 / 1 / 4 / 3;
  }

  .time {
    grid-area: 4 / 1 / 5 / 2;
  }

  .alumni {
    grid-area: 4 / 2 / 5 / 3;
  }

  footer {
    grid-area: 5 / 1 / 6 / 3;
  }
}


